body{
    font-family: 'Courier New', Courier, monospace
}

nav{
    position: fixed;
    z-index: 1030;
    background-color: white;
}

section{
    padding: 7.5% 10% 20% 10%;
    height: auto;
}

h1{
    font-size: 30px;
}

a{
    color: #000000
}

.footer{
    text-align: center;
}